# Justin McCarty Trips Data Exploration

In [2]:
#importing the relevant packages
#including Numpy (for math and arrays) and csv

import csv as csv
import numpy as np
import pandas as pd

In [3]:
# Open up the csv file in to a Python object
# For .read_csv, always use header=0 when you know row 0 is the header row
df = pd.read_csv('mccarty_trip_data_small.csv', header=0)

In [4]:
#Show the file and what we are looking at
df.head(3)

            date_trunc          label    status   name
0  2013-11-06 00:00:00  San Francisco  canceled  UberX
1  2013-12-07 00:00:00  San Francisco  canceled  UberX
2  2015-03-26 00:00:00  San Francisco  canceled  UberX

In [5]:
#What types of columns are we looking at?
df.dtypes

date_trunc    object
label         object
status        object
name          object
dtype: object

In [6]:
df.describe()

                 date_trunc          label     status   name
count                   788            788        788    788
unique                  382             10          5     21
top     2013-08-01 00:00:00  San Francisco  completed  UberX
freq                     14            663        644    475